mixin alert-success(time = 3000)
    if messages.success
        .toast-success(
            show-alert
            data-time=time
        )
            span= messages.success
            button(type="button" close-alert) ×


mixin alert-error(time = 3000)
    if messages.error
        .toast-error(
            show-alert
            data-time=time
        )
            span= messages.error
            button(type="button" close-alert) ×